* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

@font-face {
  font-family: "Sen";
  src: url(../fonts/Sen/Sen-Bold.woff2) format("woff2"), url(../fonts/Sen/Sen-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Black.woff2) format("woff2"), url(../fonts/Inter/Inter-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-SemiBold.woff2) format("woff2"), url(../fonts/Inter/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Medium.woff2) format("woff2"), url(../fonts/Inter/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --container-width: 1280px;
  --container-padding-x: 15px;
  --section-padding-y: 128px;
  --color-light: #fff;
  --color-dark: #232536;
  --color-yellow: #FFD050;
  --color-yellow-light: #FBF6EA;
  --color-purple: #592EA9;
  --color-purple-light: #F4F0F8;
  --color-gray: #6D6E76;
  --color-gray-light: #F4F4F4;
  --color-gray-dark: #4C4C4C;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Sen", sans-serif;
  --transition-duration: 0.3s;
}
@media (max-width: 1025px) {
  :root {
    --section-padding-y: 80px ;
  }
}
@media (max-width: 768px) {
  :root {
    --section-padding-y: 50px ;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.display,
.h1,
.h2,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-family-accent);
  font-weight: 700;
}

.h1,
.h2,
.h4 {
  line-height: 1.33;
}

.display,
.h1,
.h2 {
  letter-spacing: -2px;
}
@media (max-width: 1025px) {
  .display,
  .h1,
  .h2 {
    letter-spacing: -1px;
  }
}

.display {
  font-size: clamp(36px, 3.8888888889vw, 56px);
  line-height: 1.14;
}

.h1 {
  font-size: clamp(28px, 3.3333333333vw, 48px);
}

.h2 {
  font-size: clamp(24px, 2.5vw, 36px);
}

.h3 {
  font-size: clamp(18px, 1.9444444444vw, 28px);
  letter-spacing: -1px;
  line-height: 1.42;
}

.h4 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
}

.h5 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
  line-height: 1.6;
}

.h6 {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 1.5;
}

.body-1 {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  font-weight: 400;
  line-height: 1.75;
}

.body-2 {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  font-weight: 400;
  line-height: 1.4;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.accent {
  font-size: clamp(14px, 1.1111111111vw, 16px);
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.accent--semi-bold {
  font-weight: 600;
}
.accent--black {
  font-weight: 900;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

a,
button {
  transition-duration: var(--transition-duration);
}

/**
 * Swiper 11.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2025 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 2, 2025
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: red;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.button {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-accent);
  font-weight: 700;
  line-height: 1.33;
  color: var(--color-dark);
  padding: 16px 48px;
  background-color: var(--color-yellow);
  display: inline-block;
}
@media (max-width: 768px) {
  .button {
    padding: 10px 32px;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: #EDC14A;
  }
}
@media (hover: none) {
  .button:active {
    background-color: #EDC14A;
  }
}
.button--light {
  background-color: var(--color-light);
}
@media (hover: hover) {
  .button--light:hover {
    background-color: var(--color-gray-light);
  }
}
@media (hover: none) {
  .button--light:active {
    background-color: var(--color-gray-light);
  }
}

.nav {
  --underline-width: 0;
}
.nav__list {
  display: flex;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
@media (max-width: 1025px) {
  .nav__list {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.nav__link {
  position: relative;
  color: var(--color-light);
  padding: 5px;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--underline-width);
  height: 1px;
  background-color: currentColor;
  transition: width var(--transition-duration);
}
@media (hover: hover) {
  .nav__link:hover {
    --underline-width: 100%;
  }
}
@media (hover: none) {
  .nav__link:active {
    --underline-width: 100%;
  }
}

.burger-button {
  width: 55px;
  height: 43px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}
@media (max-width: 768px) {
  .burger-button {
    display: flex;
  }
}
.burger-button span {
  width: 100%;
  height: 3px;
  background-color: var(--color-light);
}

.social {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: var(--color-dark);
}
.social__link {
  color: inherit;
}
.social__link svg {
  display: block;
}

.subscribe {
  padding: 80px 64px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1025px) {
  .subscribe {
    padding: 50px 34px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 768px) {
  .subscribe {
    padding: 40px 30px;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (max-width: 520px) {
  .subscribe {
    padding: 25px 15px;
  }
}
.subscribe__title {
  color: var(--color-light);
  max-width: 550px;
}
@media (max-width: 1025px) {
  .subscribe__title {
    max-width: 450px;
  }
}
@media (max-width: 768px) {
  .subscribe__title {
    max-width: 300px;
  }
}
.subscribe__form {
  padding-top: 4px;
  max-width: 526px;
  width: 100%;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 768px) {
  .subscribe__form {
    max-width: 450px;
    padding-top: 0;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.subscribe__input {
  width: 100%;
  padding: 14px 25px;
  border: 1px solid var(--color-gray-dark);
  background-color: transparent;
  color: var(--color-light);
}
@media (max-width: 520px) {
  .subscribe__input {
    padding: 10px 15px;
  }
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.form__input {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  line-height: 1.75;
  padding: 23px 24px;
  border: 1px solid rgba(109, 110, 118, 0.5);
  border-radius: 2px;
}
@media (max-width: 520px) {
  .form__input {
    padding: 16px;
  }
}
.form__input::-moz-placeholder {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  line-height: 1.75;
  color: var(--color-dark);
}
.form__input::placeholder {
  font-size: clamp(12px, 1.1111111111vw, 16px);
  line-height: 1.75;
  color: var(--color-dark);
}
.form__select {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__select-wrapper {
  position: relative;
}
.form__select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 60px;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: translateY(-50%) rotateZ(45deg);
}
@media (max-width: 520px) {
  .form__select-wrapper::after {
    right: 40px;
  }
}
.form__textarea {
  min-height: 144px;
  resize: none;
}
.form__button {
  font-size: clamp(16px, 1.6666666667vw, 24px);
  padding: 16px 24px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
@media (max-width: 1025px) {
  .cards {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .cards {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 370px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.cards__item {
  max-width: 296px;
}
@media (max-width: 768px) {
  .cards__item {
    justify-self: end;
  }
  .cards__item:nth-child(even) {
    justify-self: start;
  }
}
@media (max-width: 370px) {
  .cards__item {
    justify-self: center;
  }
  .cards__item:nth-child(even) {
    justify-self: center;
  }
}

.page-heading {
  padding-block: 80px;
  background-color: var(--color-purple-light);
  text-align: center;
}
@media (max-width: 1025px) {
  .page-heading {
    padding-block: 60px;
  }
}
@media (max-width: 768px) {
  .page-heading {
    padding-block: 40px;
  }
}
.page-heading__text {
  color: var(--color-gray);
}

.header {
  padding-block: 12px;
  background-color: var(--color-dark);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.article-card {
  display: flex;
  gap: 32px;
}
@media (max-width: 1025px) {
  .article-card {
    gap: 24px;
  }
}
.article-card__image {
  width: 100%;
  height: auto;
}
.article-card__image--large {
  max-width: 670px;
}
.article-card__content {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: start;
}
@media (max-width: 1025px) {
  .article-card__content {
    row-gap: 10px;
  }
}
.article-card__content--mini {
  row-gap: 8px;
  max-width: 370px;
}
.article-card__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: var(--color-gray-dark);
}
@media (max-width: 1025px) {
  .article-card__info {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.article-card__info::after {
  display: block;
  content: "";
  width: 2px;
  height: 10px;
  background-color: currentColor;
}
.article-card__author-link {
  color: var(--color-purple);
}
@media (hover: hover) {
  .article-card__author-link:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .article-card__author-link:active {
    text-decoration: underline;
  }
}
.article-card__date {
  order: 3;
}
.article-card__title-link {
  color: var(--color-dark);
}
.article-card__text {
  max-width: 550px;
}
.article-card--large {
  flex-direction: column;
  align-items: start;
  padding: 32px;
  max-width: 733px;
  border: 1px solid rgba(109, 110, 118, 0.1);
}
@media (max-width: 1025px) {
  .article-card--large {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .article-card--large {
    max-width: 500px;
    padding: 15px;
  }
}
.article-card--mini {
  padding: 32px;
  padding-bottom: 25px;
  width: 100%;
  max-width: 517px;
  background-color: var(--color-light);
  transition: background-color var(--transition-duration);
}
@media (max-width: 1025px) {
  .article-card--mini {
    padding: 20px;
    max-width: 250px;
  }
}
@media (hover: hover) {
  .article-card--mini:hover {
    background-color: var(--color-yellow-light);
  }
}
@media (hover: none) {
  .article-card--mini:active {
    background-color: var(--color-yellow-light);
  }
}

.first-screen {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 720px;
  color: var(--color-light);
}
@media (max-width: 1025px) {
  .first-screen {
    min-height: 600px;
  }
}
@media (max-width: 768px) {
  .first-screen {
    min-height: 500px;
  }
}
.first-screen__inner {
  padding-block: 128px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 768px) {
  .first-screen__inner {
    padding-top: 80px;
  }
}
.first-screen__heading {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 16px;
}
@media (max-width: 1025px) {
  .first-screen__heading {
    max-width: 600px;
    row-gap: 18px;
    margin-bottom: 14px;
  }
}
@media (max-width: 768px) {
  .first-screen__heading {
    row-gap: 14px;
    margin-bottom: 10px;
  }
}
.first-screen__author {
  color: var(--color-yellow);
}
@media (hover: hover) {
  .first-screen__author:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .first-screen__author:active {
    text-decoration: underline;
  }
}
.first-screen__text {
  margin-bottom: 48px;
  max-width: 600px;
}
@media (max-width: 1025px) {
  .first-screen__text {
    max-width: 450px;
  }
}

.featured {
  padding-block: var(--section-padding-y);
}
.featured__inner {
  display: flex;
  align-items: start;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 768px) {
  .featured__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
}
.featured__item {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.featured__item-heading {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
.featured__item:last-child {
  max-width: 517px;
  width: 100%;
}
@media (max-width: 1025px) {
  .featured__item:last-child {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .featured__item:last-child {
    align-self: start;
    max-width: 100%;
  }
}
.featured__item-link {
  color: var(--color-purple);
}
@media (hover: hover) {
  .featured__item-link:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .featured__item-link:active {
    text-decoration: underline;
  }
}
.featured__list {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .featured__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .featured__list {
    display: flex;
  }
}

.about__wrapper {
  position: relative;
}
.about__inner {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding: 96px 80px;
  background-color: var(--color-purple-light);
}
@media (max-width: 1025px) {
  .about__inner {
    padding: 60px 50px;
  }
}
@media (max-width: 768px) {
  .about__inner {
    padding: 36px 30px;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
@media (max-width: 520px) {
  .about__inner {
    padding: 30px 25px;
    row-gap: 30px;
  }
}
.about__decor {
  width: 83%;
  height: 23px;
  margin-left: auto;
  display: flex;
}
.about__decor::before {
  content: "";
  display: block;
  width: 75%;
  height: 100%;
  background-color: var(--color-purple);
}
.about__decor::after {
  content: "";
  display: block;
  width: 27%;
  height: 100%;
  background-color: var(--color-yellow);
}
.about__item {
  max-width: 515px;
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (max-width: 1025px) {
  .about__item {
    row-gap: 20px;
  }
}
@media (max-width: 768px) {
  .about__item {
    row-gap: 16px;
    width: 100%;
    max-width: 380px;
  }
}
.about__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (max-width: 1025px) {
  .about__item-content {
    row-gap: 12px;
  }
}
@media (max-width: 1025px) and (max-width: 1025px) {
  .about__item-content {
    row-gap: 10px;
  }
}
.about__item-subtitle {
  max-width: 493px;
}
.about__item-subtitle--small {
  max-width: 390px;
}
.about__item-link {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-accent);
  font-weight: 700;
  line-height: 1.77;
  color: var(--color-purple);
}

.category--main {
  padding-block: var(--section-padding-y);
}
.category__inner {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media (max-width: 1025px) {
  .category__inner {
    row-gap: 32px;
  }
}
.category__heading {
  text-align: center;
}
.category__item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border: 1px solid rgba(109, 110, 118, 0.3);
  padding: 32px;
  transition-duration: var(--transition-duration);
}
@media (max-width: 1025px) {
  .category__item {
    padding: 20px;
    row-gap: 12px;
    max-width: 270px;
  }
}
@media (hover: hover) {
  .category__item:hover {
    background-color: var(--color-yellow);
    border-color: transparent;
  }
}
@media (hover: none) {
  .category__item:active {
    background-color: var(--color-yellow);
    border-color: transparent;
  }
}
.category__item-icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 9px;
  background-color: var(--color-yellow-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.category__item-content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.category__item-link {
  color: var(--color-dark);
}

.story-section__inner {
  position: relative;
}
@media (max-width: 768px) {
  .story-section__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.story-section__image {
  width: 74%;
  max-width: 950px;
  height: auto;
}
@media (max-width: 768px) {
  .story-section__image {
    width: 100%;
    max-width: 500px;
  }
}
.story-section__body {
  max-width: 706px;
  background-color: var(--color-light);
  padding: 80px;
  position: absolute;
  bottom: 0;
  right: 15px;
}
@media (max-width: 1025px) {
  .story-section__body {
    padding: 60px;
    max-width: 550px;
  }
}
@media (max-width: 768px) {
  .story-section__body {
    position: relative;
    right: 0;
    padding: 30px;
    padding-bottom: 0;
    max-width: 500px;
  }
}
@media (max-width: 520px) {
  .story-section__body {
    padding-inline: 0;
  }
}
.story-section__title {
  margin-bottom: 24px;
}
@media (max-width: 1025px) {
  .story-section__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .story-section__title {
    margin-bottom: 12px;
  }
}
.story-section__subtitle {
  margin-bottom: 16px;
}
@media (max-width: 1025px) {
  .story-section__subtitle {
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .story-section__subtitle {
    margin-bottom: 8px;
  }
}
.story-section__text {
  margin-bottom: 32px;
}
@media (max-width: 1025px) {
  .story-section__text {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .story-section__text {
    margin-bottom: 16px;
  }
}

.authors {
  text-align: center;
}
.authors--main {
  padding-top: var(--section-padding-y);
}
.authors__inner {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media (max-width: 1025px) {
  .authors__inner {
    row-gap: 32px;
  }
}
.authors__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 40px;
  background-color: var(--color-gray-light);
  transition-duration: var(--transition-duration);
}
@media (max-width: 1025px) {
  .authors__item {
    row-gap: 16px;
    padding: 32px 24px;
  }
}
@media (max-width: 768px) {
  .authors__item {
    padding: 24px 16px;
  }
}
@media (hover: hover) {
  .authors__item:hover {
    background-color: var(--color-yellow-light);
  }
}
@media (hover: none) {
  .authors__item:active {
    background-color: var(--color-yellow-light);
  }
}
.authors__item-image {
  border-radius: 50%;
  max-width: 128px;
  height: auto;
}
@media (max-width: 1025px) {
  .authors__item-image {
    max-width: 100px;
  }
}
.authors__item-name-link {
  color: var(--color-dark);
}

.partners {
  padding-block: 96px;
}
@media (max-width: 1025px) {
  .partners {
    padding-block: 60px;
  }
}
@media (max-width: 768px) {
  .partners {
    padding-block: 40px;
  }
}
.partners__inner {
  padding-inline: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 1025px) {
  .partners__inner {
    flex-direction: column;
    align-items: start;
    padding-inline: 15px;
  }
}
.partners__heading {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  flex-shrink: 0;
}
.partners__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  max-width: 1015px;
  flex-wrap: wrap;
}
@media (max-width: 1025px) {
  .partners__items {
    justify-content: center;
  }
}

.testimonials__inner {
  padding: 80px 110px;
  background-color: var(--color-yellow-light);
  display: flex;
  align-items: start;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
@media (max-width: 1280px) {
  .testimonials__inner {
    padding: 60px 80px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media (max-width: 1025px) {
  .testimonials__inner {
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding: 30px 40px;
  }
}
@media (max-width: 768px) {
  .testimonials__inner {
    flex-direction: column;
    align-items: start;
    row-gap: 40px;
  }
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 310px;
  width: 100%;
  padding-top: 12px;
}
@media (max-width: 1025px) {
  .testimonials__content {
    max-width: 250px;
  }
}
.testimonials__heading {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 275px;
}
.testimonials__text {
  max-width: 310px;
}
.testimonials__slider {
  max-width: 36vw;
  margin: 0;
}
@media (max-width: 1025px) {
  .testimonials__slider {
    max-width: 50vw;
  }
}
.testimonials__slider-wrapper {
  padding-left: 96px;
  border-left: 1px solid rgba(109, 110, 118, 0.4);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 120px;
}
@media (max-width: 1280px) {
  .testimonials__slider-wrapper {
    row-gap: 100px;
  }
}
@media (max-width: 1025px) {
  .testimonials__slider-wrapper {
    row-gap: 60px;
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .testimonials__slider-wrapper {
    border: none;
    padding: 0;
  }
}
.testimonials__slider-text {
  max-width: 30vw;
}
@media (max-width: 1025px) {
  .testimonials__slider-text {
    max-width: 40vw;
  }
}
.testimonials__author-slider {
  position: relative;
  max-width: 36vw;
  min-height: 62px;
  margin: 0;
}
@media (max-width: 1025px) {
  .testimonials__author-slider {
    max-width: 50vw;
  }
}
.testimonials__author-item {
  display: flex;
  align-items: start;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.testimonials__author-image {
  border-radius: 50%;
}
.testimonials__author-post {
  color: var(--color-gray);
}
.testimonials__navigation {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
  z-index: 2;
}
.testimonials__button-prev, .testimonials__button-next {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.testimonials__button-prev {
  width: 48px;
  height: 48px;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.contact {
  --container-width: 770px;
  padding-block: var(--section-padding-y);
}
.contact__container {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}
@media (max-width: 1025px) {
  .contact__container {
    row-gap: 44px;
  }
}
.contact__inner {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.contact__heading {
  text-align: center;
}
.contact__title {
  margin-bottom: 12px;
}
@media (max-width: 1025px) {
  .contact__title {
    margin-bottom: 8px;
  }
}
.contact__subtitle {
  margin-bottom: 24px;
}
@media (max-width: 1025px) {
  .contact__subtitle {
    margin-bottom: 16px;
  }
}
.contact__text {
  color: var(--color-gray);
}
.contact__info {
  padding: 48px 64px;
  display: flex;
  -moz-column-gap: 42px;
       column-gap: 42px;
  background-color: var(--color-purple);
  color: var(--color-light);
}
@media (max-width: 768px) {
  .contact__info {
    padding: 32px 42px;
  }
}
@media (max-width: 520px) {
  .contact__info {
    -moz-column-gap: 22px;
         column-gap: 22px;
    padding: 20px;
    margin-inline: calc(var(--container-padding-x) * -1);
  }
}
.contact__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.contact__item-title {
  display: block;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.6;
}
.contact__item-content {
  display: flex;
  flex-direction: column;
}
.contact__item .body-1 {
  opacity: 0.6;
}
.contact__item-link {
  color: inherit;
}
.contact__item-social {
  color: var(--color-light);
  margin-top: auto;
}

.privacy-policy-top__inner {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.privacy-policy {
  padding-block: var(--section-padding-y);
}
.privacy-policy__inner {
  --container-width: 770px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (max-width: 768px) {
  .privacy-policy__inner {
    row-gap: 22px;
  }
}
.privacy-policy__item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (max-width: 1025px) {
  .privacy-policy__item {
    row-gap: 14px;
  }
}
@media (max-width: 768px) {
  .privacy-policy__item {
    row-gap: 10px;
  }
}
.privacy-policy__item-top {
  row-gap: 32px;
}
@media (max-width: 1025px) {
  .privacy-policy__item-top {
    row-gap: 22px;
  }
}
@media (max-width: 768px) {
  .privacy-policy__item-top {
    row-gap: 14px;
  }
}
.privacy-policy__textbox {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 768px) {
  .privacy-policy__textbox {
    row-gap: 20px;
  }
}

.cta {
  padding-block: var(--section-padding-y);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
  text-align: center;
}
.cta__inner {
  max-width: 410px;
}
@media (max-width: 1025px) {
  .cta__inner {
    max-width: 300px;
  }
}
.cta__title {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .cta__title {
    margin-bottom: 12px;
  }
}
.cta__text {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .cta__text {
    margin-bottom: 24px;
  }
}

.footer {
  background-color: var(--color-dark);
  padding-block: 60px;
  flex-shrink: 0;
}
@media (max-width: 1025px) {
  .footer {
    padding-block: 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-block: 30px;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .footer__top {
    margin-bottom: 30px;
  }
}
@media (max-width: 520px) {
  .footer__nav {
    width: 100%;
  }
}
.footer__nav-list {
  flex-wrap: wrap;
  row-gap: 10px;
}
.footer__subscribe {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .footer__subscribe {
    margin-bottom: 30px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-wrap: wrap;
}
.footer__info, .footer__email, .footer__phone {
  color: rgba(255, 255, 255, 0.7);
}
@media (hover: hover) {
  .footer__email:hover, .footer__phone:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .footer__email:active, .footer__phone:active {
    text-decoration: underline;
  }
}
.footer__contact {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__social {
  padding-top: 12px;
  -moz-column-gap: 27px;
       column-gap: 27px;
  color: var(--color-gray);
}/*# sourceMappingURL=style.css.map */