body {
    font-family: $font-family-base;
    color: $dark;
    background-color: $light;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

a,
button {
    transition-duration: $transition-duration;
}