.container {
    max-width: calc($container-width + $container-padding-x * 2);
    padding-inline: $container-padding-x;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.display,
.h1,
.h2,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family-accent;
    font-weight: 700;
}

.h1,
.h2,
.h3,
.h4 {
    line-height: 1.33;
}

.display,
.h1,
.h2 {
    letter-spacing: -2px;

    @include tablet {
        letter-spacing: -1px;
    }
}

.display {
    @include fluid-text(36, 56);

    line-height: 1.14;
}

.h1 {
    @include fluid-text(28, 48);
}

.h2 {
    @include fluid-text(20, 36);
}

.h3 {
    @include fluid-text(18, 28);

    letter-spacing: -1px;
}

.h4 {
    @include fluid-text(16, 24);
}

.h5 {
    @include fluid-text(16, 20);

    line-height: 1.6;
}

.h6 {
    @include fluid-text(14, 16);

    line-height: 1.5;
}

.body-1 {
    @include fluid-text(12, 16);

    font-weight: 400;
    line-height: 1.75;
}

.body-2 {
    @include fluid-text(12, 14);

    font-weight: 400;
    line-height: 1.4;
}

.label {
    font-size: 14px;
    font-weight: 500;   
    line-height: 1.4;
}