.about {

    &__wrapper {
        position: relative;

        // @include mobile-s {
        //     margin-inline: -15px;
        // }
    }

    &__inner {
        display: flex;
        column-gap: 60px;
        padding: 96px 80px;
        background-color: $purple-light;

        @include tablet {
            padding: 60px 50px;
        }

        @include mobile {
            padding: 36px 30px;
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }

        @include mobile-s {
            padding: 30px 25px;
            row-gap: 30px;
        }
    }

    &__decor {
        width: 83%;
        height: 23px;
        margin-left: auto;
        display: flex;

        &::before {
            content: '';
            display: block;
            width: 75%;
            height: 100%;
            background-color: $purple;
        }

        &::after {
            content: '';
            display: block;
            width: 27%;
            height: 100%;
            background-color: $yellow;
        }
    }

    &__item {
        max-width: 515px;
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        @include tablet {
            row-gap: 20px;
        }

        @include mobile {
            row-gap: 16px;
            width: 100%;
            max-width: 380px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            @include tablet {
                row-gap: 12px;

                @include tablet {
                    row-gap: 10px;
                }
            }
        }

        &-subtitle {
            max-width: 493px;

            &--small {
                max-width: 390px;
            }
        }

        &-link {
            @include fluid-text(16, 18);

            font-family: $font-family-accent;
            font-weight: 700;
            line-height: 1.77;
            color: $purple;
        }
    }
}