.featured {
    padding-block: $section-padding-y;

    &__inner {
        display: flex;
        align-items: start;
        column-gap: 32px;

        @include mobile {
            flex-direction: column;
            align-items: center;
            row-gap: 32px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        &-heading {
            display: flex;
            justify-content: space-between;
            column-gap: 32px;
            align-items: center;
        }

        &:last-child {
            max-width: 517px;
            width: 100%;

            @include tablet {
                max-width: 300px;
            }

            @include mobile {
                align-self: start;
                max-width: 100%;
            }
        }

        &-link {
            color: $purple;

            @include hover {
                text-decoration: underline;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        @include mobile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile-s {
            display: flex;
        }
    }
}