.header {
    padding-block: 12px;
    background-color: $dark;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        margin-left: auto;
        display: flex;
        align-items: center;
        column-gap: 32px;

        @include mobile {
            display: none;
        }
    }
}