.testimonials {

    &__container {
        @include mobile-s {
            padding-inline: 0;
        }
    }
    
    &__inner {
        padding: 80px 110px;
        background-color: $yellow-light;
        display: flex;
        align-items: start;
        column-gap: 120px;

        @include tablet {
            padding: 40px 55px;
            column-gap: 60px;
        }

        @include mobile {
            flex-direction: column;
            row-gap: 40px;
            padding: 20px 30px;
        }

        @include mobile-s {
            padding: 20px 25px;
        }
    }

    &__content {
        padding-top: 12px;
        max-width: 310px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @include mobile {
            row-gap: 12px;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        @include mobile {
            row-gap: 8px;
        }
    }

    &__sliders {
        display: flex;
        flex-direction: column;
        row-gap: 114px;
        max-width: 630px;
        width: 65%;
        padding-left: 96px;
        border-left: 1px solid rgba(109, 110, 118, 0.4);

        @include tablet {
            padding-left: 40px;
            row-gap: 70px;
        }

        @include mobile {
            padding-left: 0;
            border-left: none;
            width: 100%;
            row-gap: 24px;
        }
    }

    &__slider {

        &-text {
            max-width: 460px;
            width: 87%;
        }
    }

    &__author {

        &-slider {
            position: relative;
            min-height: 62px;
        }

        &-item {
            display: flex;
            column-gap: 16px;
            align-items: start;
            padding-top: 7px;
        }

        &-image {
            border-radius: 50%;
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 200px;
        }

        &-post {
            color: $gray;
        }
    }

    &__navigation {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        column-gap: 24px;

        @include tablet {
            column-gap: 16px;
        }

        @include mobile-s {
            position: relative;
            justify-content: end;
        }
    }

    &__prev-button,
    &__next-button {
        width: 62px;
        height: 62px;
        background-color: $dark;
        color: $light;
        border-radius: 50%;
        color: $light;
    }

    &__prev-button {
        width: 48px;
        height: 48px;
        background-color: $light;
        color: $dark;
    }
}